
body {
    background-color: #333;
    color: #ccc;
    font-family: Arial, sans-serif;
    text-align: center;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #58a6ff; /* Cool blue color for the title */
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    color: #a6a6a6; /* Lighter text for the description */
    font-size: 1.2em;
}

/* Containers */

.plot-container, .slider-container {
    width: 100%; /* Ensure these containers take full width of their parent */
}

.flex-container {
    display: flex;
    align-items: flex-start;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px; /* Spacing between buttons and graph */
}

.graph-slider-container {
    display: flex;
    flex-direction: column; /* Ensure vertical stacking */
    width: 100%; /* Take up the remaining width */
}


#plotArea {
    background-color: #333; /* Dark gray background */
}

.axis path,
.axis line,
.axis text {
    stroke: #ccc; /* Light gray color for axes and ticks */
    fill: #ccc;   /* Light gray color for text */
}

.grid line {
    stroke: lightgray;
    stroke-opacity: 0.7;
}

.dot {
    fill: #56B4E9; /* Example: bright blue for dots */
    stroke: white;
}

.regression-curve {
    stroke: #E69F00; /* Example: bright orange for the regression curve */
}

.spline-curve {
    stroke: #97f998; /* Example: bright orange for the regression curve */
}

.label, .legend {
    fill: #F0F0F0; /* Light color for text */
}

/* Additional styles for interactive controls, etc. */


#degreeSlider {
    width: 200px;
}


/* Adjust slider */
input[type="range"] {
    -webkit-appearance: none; /* Override default appearance */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #8c8c8c; /* Dark background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Partial transparency */
    -webkit-transition: .2s; /* Smooth transitions */
    transition: opacity .2s;
}

input[type="range"]:hover {
    opacity: 1; /* Fully opaque on hover */
}

/* Slider Thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default appearance */
    appearance: none;
    width: 25px; /* Width of the thumb */
    height: 25px; /* Height of the thumb */
    background: #fcfcfc; /* Light background for the thumb */
    cursor: pointer; /* Cursor changes on hover */
}

input[type="range"]::-moz-range-thumb {
    width: 25px; 
    height: 25px;
    background: #ddd;
    cursor: pointer;
}

/*  Buttons */

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px; /* Spacing between buttons and graph */
    margin-top: 80px; /* Adjust this value to position the buttons lower */
    margin-bottom: 20px;
}


/* Home and Info Button Styles */
#homeBtn, #infoBtn {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 100px; /* Standardize button width */
    text-align: center; /* Center text in button */
}

/* Modal Style */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 5% 25%; /* Aligns modal to the right */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Set modal width to 70% of the page width */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Optional: Adds a shadow for better visibility */
}

/* Targeting all text within the modal content */
.modal-content p,
.modal-content h2,
.modal-content li,
.modal-content span {
    color: #444444; /* Set your desired font color here */
}

/* If you have links inside the modal and want to style them as well */
.modal-content a {
    color: #1981a3; /* Light blue link color, for example */
    text-decoration: underline;
}

/* Adjust the close button position if needed */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
    .modal-content {
        width: 90%;
        margin: 10% auto;
    }
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

